config LIDAR
	bool "Enable lidar drivers"
	help
	  Enable lidar drivers

if LIDAR

config LIDAR_FHL_LD19
    bool "Enable fhl-ld19 drivers"
    default y
   	depends on DT_HAS_ZEPHYR_FHL_LD19_ENABLED

config LIDAR_MSMLIDAR
    bool "Enable msmlidar drivers"
    default y
   	depends on DT_HAS_POKIBOT_MSMLIDAR_ENABLED
    select JSON_LIBRARY

endif
