menuconfig MQTT_SIM_MESSAGER
	bool "MQTT_SIM_MESSAGER subsystem"
	select NATIVE_MQTT

if MQTT_SIM_MESSAGER
module = MSM
module-str = msm
module-help = Tools used for simulation on the host
source "subsys/logging/Kconfig.template.log_config"

config MSM_DEVICE_NAME
    string "Device name used in msm topics"
    default "pokirobot"

endif
