menuconfig MQTT_SIM_MESSAGER
	bool "MQTT_SIM_MESSAGER subsystem"
	select NATIVE_MQTT

if MQTT_SIM_MESSAGER
module = MQTT_SIM_MESSAGER
module-str = msm
module-help = Tools used for simulation on the host
source "subsys/logging/Kconfig.template.log_config"

endif

