menuconfig POKSTEPPER
	bool "Stepper Controller pokibot flavored"
	help
	  Enable stepper controller pokibot flavored

if POKSTEPPER

module = POKSTEPPER
module-str = pokstepper
source "subsys/logging/Kconfig.template.log_config"

config POKSTEPPER_INIT_PRIORITY
	int "Stepper Motor Controller init priority"
	default 90
	help
	  Stepper motor controller initialization priority.

config POKSTEPPER_POKIBOT_EMPTY_POKSTEPPER
	bool "Activate empty pokibot flavored stepper driver"
	depends on DT_HAS_POKIBOT_EMPTY_POKSTEPPER_ENABLED
	default y
	help
	  Empty stepper driver.

comment "Stepper Drivers pokibot flavored"

# zephyr-keep-sorted-start
rsource "adi_tmc/Kconfig"
# zephyr-keep-sorted-stop

endif
