config POKSTEPPER_ADI_TMC2209_POKIBOT
	bool "Activate trinamic tmc2209 pokibot flavored stepper driver"
	depends on DT_HAS_ADI_TMC2209_POKIBOT_ENABLED
	select POKSTEPPER_ADI_TMC_UART
	select COUNTER
	select EVENTS
	default y
	help
	  Stepper driver for TMC2209.
