menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "PokiSettings"

choice POKISTRAT
	prompt "POKISTRAT choice"
	default POKISTRAT_MAIN

config POKISTRAT_MAIN
	bool "Main pokistrat"

config POKISTRAT_CERTIF
    bool "Pokistrat for certification"
endchoice

rsource "src/nav/Kconfig"

endmenu
