
/ {

aliases {
		mainlidar = &lidar;
    };

    lidar: lidar {
        status = "okay";
        compatible = "pokibot,msmlidar";
        id = <0>;
    };

    stepper_arm: stepper_arm {
        status = "okay";
        compatible = "pokibot,empty-pokstepper";
    };

    servo_deploy_arm: servo_deploy_arm {
        status = "okay";
        compatible = "pokibot,empty-servomotor";
    };

    servo_left_gripper: servo_left_gripper {
        status = "okay";
        compatible = "pokibot,empty-servomotor";
    };

    servo_right_gripper: servo_right_gripper {
        status = "okay";
        compatible = "pokibot,empty-servomotor";
    };
};
