
/ {

aliases {
		mainlidar = &lidar;
    };

    lidar: lidar {
        status = "okay";
        compatible = "pokibot,msmlidar";
        id = <0>;
    };

    stepper_arm: stepper_arm {
        status = "okay";
        compatible = "pokibot,empty-pokstepper";
    };

    stepper0: stepper0 {
        status = "okay";
        compatible = "pokibot,empty-pokstepper";
    };

    stepper1: stepper1 {
        status = "okay";
        compatible = "pokibot,empty-pokstepper";
    };

    stepper2: stepper2 {
        status = "okay";
        compatible = "pokibot,empty-pokstepper";
    };
};
