&usart1 {
	status = "okay";
	pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
	pinctrl-names = "default";
	current-speed = <115200>;
    pokmac0: pokmac0 {
        compatible = "pokibot,pokmac";
        status = "okay";
    };
};

&usart2 {
	status = "okay";
	pinctrl-0 = <&usart2_tx_pb4 &usart2_rx_pb5>;
	pinctrl-names = "default";
	current-speed = <115200>;
    pokmac1: pokmac1 {
        compatible = "pokibot,pokmac";
        status = "okay";
    };
};
